body {
    background: linear-gradient(90deg, #72C6EF 0%, #004E8F 100%);
    font-family: 'Fjalla One', sans-serif;
font-family: 'Glory', sans-serif;
}

h1 {
    color:aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 20%;
}

.text {
    color: aliceblue;
    font-size: 15px;
    font-family: glory;
}

.alert {
    text-transform: uppercase;
    padding-block: 15px;
    color: rgb(104, 104, 104);
    background: rgba(255, 255, 255, 0.755);
    border: 1px solid rgb(191, 191, 191);
    border-radius: 10px;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
}  

.select{
    margin-top: 30px;
    text-align: center;
} 

.btn {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #F4C54C;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}
